/*backgrounds.css*/

/*These ***View tags are added only to the body html element*/

.indexView {
	background-image: url('../img/home-bikes-transparent.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.referencesView {

}

.catalogView {
	background-color: #757474;
	
}

.bianchiView {

} 

.cannondaleView {

}

.centurionView {

}

.nishikiView {

}

.specializedView {

}

.peugeotView {

}

.raleighView {

}

.trekView {

}

.japaneseView {

}

.frenchView {

}

.englishView {

}

.italianView {

} 

.usaView {

} 

.vendorsView {

}

.aboutView {

}