/*backgrounds.css*/

/*These ***View tags are added only to the body html element*/

.indexView {
	background-image: url('../img/home-bikes.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.ost-stroke {
  color: white;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #777;
}

.outlineLogo {
	display:none;
}

.blackLogo {
	display:none;
}

.showLogo {
	display:inline;
}

.hideLogo {
	display:none;
}

.hideFeature {
	display:none;
}

.referencesView {
	background-color: #CDAF95;
	background-image: none;
	background-repeat: repeat;
	background-size: 100%;
}

.catalogView {
	background-color: #bebdbd;
	background-image: url('../img/bike-lane.png');
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 50%;	
}

.bianchiView {

} 

.cannondaleView {

}

.centurionView {

}

.nishikiView {

}

.specializedView {

}

.peugeotView {

}

.raleighView {

}

.trekView {

}

.japaneseView {

}

.frenchView {

}

.englishView {

}

.italianView {

} 

.usaView {

} 

.vendorsView {

}

.aboutView {
	background-color: #424242;
	background-image: none;
	background-repeat: repeat;
	background-size: 100%;
}

.creditsView {
	background-image: url('../img/last.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}