@font-face {
    font-family: OstSans;
    src: url(ostrich-sans/ostrich-regular.ttf);
}
@font-face {
    font-family: OstSans;
    src: url(ostrich-sans/ostrich-black.ttf);
}

@font-face {
    font-family: Typ;
    src: url(ufonts.com_american-typewriter.ttf);
}

* {
  font-family: Typ;
}

.hover-color {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
} 
.hover-color:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

.gap{
  padding:0;
  margin:0;
}

.spacer {
  padding: 8px;
  margin:8px;
}

ul.nav-container{
  margin: auto;
}

.centered-text{
  text-align: center;
  margin: 0 auto;
}

.big-text {
  font-size: 150%;
  list-style:none;
}

h4{
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 2px;
  margin: 2% auto;
}

.ost-text {
  font-family: ostrich-black, OstSans, sans-serif;
  margin-bottom:-10px;
  letter-spacing: 1px;
}

.navbar {
  margin-bottom:0px;
}

.ember-view {
    color: white;
    margin: 0;
}

.ember-view:hover {
    text-decoration:none;
}

.ember-view.active {
    color: #deff26;
    text-decoration:none;
    border-color: #baf67f;
}

img.ember-view {
    border-color: #baf67f;
    border:2px;
    margin: 2px; 
}

img.ember-view:hover {
    border-color: #baf67f;
    border:2px;
    margin: 2px;
}

img.ember-view.active {
    border-color: #baf67f;
    border:2px;
    margin: 2px;
}

.flag-padding{
    margin-right: 20px;
} 

.home-img{
  float:right;
  background-color: transparent;
  border: none;
}

body {
  background-color: #424242;
  background-size: cover;
}

a p {
  font-family:Typ;
}

.make-padding {
  margin: 0 auto;
  max-width: 660px;
  float:none;
  padding-bottom: 20px;
}

.pad-top {
  padding-top: 2px;
  padding-right:10px;
}

a.ember-view.list-group-item.active {
  background-color: black;
  border-color: #baf67f;
  color: #baf67f; 
}

a{
  color: #deff26; 
}

a:hover  {
  color: #deff26;
  text-decoration: none;
}

.list-group-item {
  background-color:#fff;
  color:#000;
}

.listpadding {
    padding-left: 45px;
  }

.ost-pad {
  margin-right: 15px;
}

.hoverWrapper {
  position: relative;
  display: inline-block;
}

.imgDescription {
  object-fit:cover;
  font-family: OstSans;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 250%;
  color: #deff26;
  letter-spacing: 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(44, 44, 44, .5); 
  text-align: center;
  visibility: hidden;
}

.hoverWrapper:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.bikepage{ 
  list-style-type: none;
}

.bikebinder {
  margin-left: 15px;
}

.origin-bike{
  margin: 7px 0 0 0;
  float: right!important;
  color: black;
  font-size: 110%;
}

@media (max-width: 780px){
  .origin-bike{
    float: none;
    /*margin: 5px auto;*/
  }
  .imgDescription {
    font-size: 150%;
  }
}

.bikebinder>.ember-view {
  display:inline-block;
}

.bikebinder {
  display: inline-block;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

.modelHeading {
  text-align: center;
}

.descPadding {
  text-align: center;
  padding-top: 20px;
}

.back-arrow img{
  max-height:40px;
  max-width: 100px;
}

.centered {
  margin: 0 auto;
  display: block;
}

.hoverWrapper>img {
  height: 245px;
  width: 345px;
  margin: 1%;
  border-radius: 1%;
  box-shadow: 6px 6px 35px #888888;
  overflow:hidden;
  -o-object-fit: cover;
  -o-object-position: center center;
  object-fit: cover;
  object-position: center center;
  display:inline-block;
}

@media (max-width: 767px) {
  .nav>li {
   display:inline-block;
  }
  .big-text {
   text-align:center;
  }
  .pad-top {
   display:none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {

  #navigation ul{
  padding-top: 12px;
  }
  .ost-pad {
  margin-right: 10px;
  }
}

@media (min-width: 981px) {
  .bikebinder>.ember-view {
   overflow:hidden;
  }
}

@media (min-width: 992px) {
  #navigation ul {
  padding-top: 30px;
  }
  .bikebinder {
  margin-left: 70px;
  } 
}

@media (max-width: 992px) {
  .big-text {
   font-size: 135%;
   margin-top:5px;
  }
}

@media(min-width: 992px) and (max-width: 1200px) {
.hoverWrapper>img {
  height: 240px;
  width: 360px;
  }
  .bikebinder {
  margin-left: 100px;
  } 
}

@media(min-width: 670px) and (max-width: 992px) {
.hoverWrapper>img {
  height: 200px;
  width: 310px;
  }
}

@media(min-width: 510px) and (max-width: 669px) {
.hoverWrapper>img {
  max-height: 140px;
  max-width: 220px;
  }
  .bikebinder {
  margin-left: 70px;
  }
}

@media(min-width: 550px) and (max-width: 590px) {
  .bikebinder {
  margin-left: 50px;
  } 
}

@media(min-width: 521px) and (max-width: 549px) {
  .bikebinder {
  margin-left: 34px;
  } 
}

@media(min-width: 510px) and (max-width: 520px) {
  .bikebinder {
  margin-left: 14px;
  }  
}

@media (min-width: 401px) and (max-width: 509px) {
  .bikebinder {
  margin-left: 35px;
  }
}

@media (max-width: 509px) {
  .hoverWrapper>img {
  height: 240px;
  width: 360px;
  margin: 0 auto;
  left: -10px;
  vertical-align: middle;
  }
}

@media(max-width: 400px) {
  .bikebinder {
  margin-left: 10px;
  }
}

@media (min-width: 1200px) {
  #navigation ul{
   padding-top: 40px;
  }
}

@media (min-width: 516px) and (max-width: 680px) {
  .make-padding{
    max-width: 550px;
  }
}

@media (max-width: 516px) {
  .make-padding{
    max-width: 330px;
  }
}