@font-face {
    font-family: OstSans;
    src: url(ostrich-sans/ostrich-regular.ttf);
}
@font-face {
    font-family: OstSans;
    src: url(ostrich-sans/ostrich-black.ttf);
}

@font-face {
    font-family: Typ;
    src: url(ufonts.com_american-typewriter.ttf);
}

* {
  font-family: Typ;
}

.hover-color {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
} 
.hover-color:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

.gap{
  padding:0;
  margin:0;
}

.spacer {
  padding: 8px;
  margin:8px;
}

ul.nav-container{
  margin: auto;
}

.centered-text{
  text-align: center;
  margin: 0 auto;
}

.big-text {
  font-size: 150%;
  list-style:none;
}

h4{
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 2px;
  margin: 2% auto;
}

.ost-text {
  font-family: ostrich-black, OstSans, sans-serif;
  margin-bottom:-10px;
  letter-spacing: 1px;
}

.navbar {
  margin-bottom:0px;
}

.ember-view {
    color: white;
    margin: 0;
}

.ember-view:hover {
    text-decoration:none;
}

.ember-view.active {
    color: #deff26;
    text-decoration:none;
    border-color: #baf67f;
}

img.ember-view {
    border-color: #baf67f;
    border:2px;
    margin: 2px; 
}

img.ember-view:hover {
    border-color: #baf67f;
    border:2px;
    margin: 2px;
}

img.ember-view.active {
    border-color: #baf67f;
    border:2px;
    margin: 2px;
}

.flag-padding{
    margin-right: 20px;
} 

.home-img{
  float:right;
}

body {
  background-color: #424242;
  background-size: cover;
}

a p {
  font-family:Typ;
}

.make-padding {
  margin: 0 auto;
  max-width: 660px;
  float:none;
  padding-bottom: 20px;
}

.pad-top {
  padding-top: 2px;
  padding-right:10px;
}

.rotate {
/* Safari */-webkit-transform: rotate(-90deg);
/* Firefox */-moz-transform: rotate(-90deg);
/* IE */-ms-transform: rotate(-90deg);
/* Opera */-o-transform: rotate(-90deg);
/* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
letter-spacing: 2px;
}

a.ember-view.list-group-item.active {
  background-color: black;
  border-color: #baf67f;
  color: #baf67f; /*#76ee00*/
}

a{
  color: #deff26; /*#FF6700*/
}

a:hover  {
  color: #deff26; /*#DD0048*/
  text-decoration: none;
}

.list-group-item {
  background-color:#fff;
  color:#000;
}

.listpadding {
    padding-left: 45px;
  }

.ost-pad {
  margin-right: 15px;
}

.hoverWrapper {
  position: relative;
  display: inline-block;
}

/*.hoverWrapper:nth-child(3n) {
  margin-left: auto;
  border: red 15px;
}

.hoverWrapper:nth-child(3n+2) {
  margin-right: auto;
  border: green 15px;
}*/

.imgDescription {
  object-fit:cover;
  font-family: OstSans;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 200%;
  color: #deff26;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #444;
/*  color: rgba(150, 150, 150, 1);*/
  text-align: center;
  visibility: hidden;
  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.hoverWrapper:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.bikepage{ 
  list-style-type: none;
}

.bikebinder {
  margin-left: 50px;
}

@media (max-width: 1200px) {
  .bikebinder {
/*    margin-left: 40px;*/
  }
}

@media (max-width: 900px) {
  .bikebinder {
    margin-left: 30px;
  }
}

.bikebinder>.ember-view {
  display:inline-block;
}

.bikebinder {
  display: inline-block;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
 /*  padding-right:15px;*/
}

.modelHeading {
  text-align: center;
}

.descPadding {
  text-align: center;
  padding-top: 20px;
}

.img-thumbnail {
/*  background-color: transparent;
  border: 0 solid white;
  padding: 0;
  border-radius: 0;
  max-width: auto;*/
}

.img-responsive .grid-fix {
/*  max-width: none;*/
}

.centered {
  margin: 0 auto;
  display: block;
}

.hoverWrapper>img {
/*  min-height: 250px;
  min-width: 325px;*/
  height: 275px;
  width: 375px;
  /*padding: 2px;*/
  border-radius: 8% 8% 8% 0%;
  overflow:hidden;
  -o-object-fit: cover;
  -o-object-position: center center;
  object-fit: cover;
  object-position: center center;
  display:inline-block;
}



@media (max-width: 767px) {
  .bikebinder>.ember-view   {
/*   width: 49%;*/
  }
  .nav>li {
   display:inline-block;
  }
  .big-text {
   text-align:center;
  }
  .pad-top {
   display:none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .bikebinder>.ember-view {
/*   width: 32%;*/
  }
  #navigation ul{
  padding-top: 12px;
  }
  .ost-pad {
  margin-right: 10px;
  }
}

@media (min-width: 981px) {
  .bikebinder>.ember-view {
/*   max-width: 24.5%;*/
   overflow:hidden;
  }
}

@media (min-width: 992px) {
  #navigation ul {
  padding-top: 30px;
  }
}

@media (max-width: 992px) {
  .big-text {
   font-size: 135%;
   margin-top:5px;
  }
}

@media (min-width: 1200px) {
  #navigation ul{
   padding-top: 40px;
  }
}

@media (min-width: 516px) and (max-width: 680px) {
  .make-padding{
    max-width: 550px;
  }
}

@media (max-width: 516px) {
  .make-padding{
    max-width: 330px;
  }
}