@font-face {
    font-family: OstSans;
    src: url(ostrich-sans/ostrich-regular.ttf);
}

@font-face {
    font-family: Typ;
    src: url(ufonts.com_american-typewriter.ttf);
}

* {
  font-family: Typ;
}

.bigbackground {
	/*background-image: url(img/church2.jpg);*/
  background-color: transparent;
  border:none;
  padding-right:0;
}

.bigbackground::after {
	opacity: 0;
}

#dashboard ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#dashboard ul li { display: inline; }

#dashboard ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

#dashboard ul li a:hover
{
color: #fff;
background-color: #369;
}

.hover-color {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

.hover-color:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

/*.navbar-inverse .navbar-nav>li>a.active {
  background-color: red;
}*/

.gap{
  padding:0;
  margin:0;
}

.spacer {
  padding: 8px;
  margin:8px;
}

.big-text {
  font-size: 150%;
  list-style:none;
  top:5px;
}

.options {
  font-family: OstSans;
}

#fit{
  text-transform:uppercase;
  height:100%;
  font-size: 510%;
  font-family: OstSans;
  padding-bottom:auto;
}


.fl-right{
  float:right;
}

@media (max-width: 1100px) {
  #fit {
    margin-left:20px;
    font-size:510%;
  }
}
@media (max-width: 770px) {
.fl-right{
  float:none;
}
#fit{
  text-align:center;
}

.big-text {
  text-align:center;
}

  #fit {
    margin-left:20px;
    font-size:510%;
  }
}

@media (max-width: 500px) {
  #fit{
    font-size:420%;
      text-align:center;
  }
}

@media (max-width: 400px) {
  #fit{
    font-size:340%;
      text-align:center;
      padding-right:20px;
  }
  ul {
  }
}

.navbar {
  margin-bottom:0px;
}

.ember-view {
    color: white;
}

.ember-view .hover {
    text-decoration:none;
}

.ember-view .active {
    color: #76EE00;
    text-decoration:none;
}

body {
  background-color: black;
}

a p {
  font-family:Typ;
}