@font-face {
    font-family: OstSans;
    src: url(ostrich-sans/ostrich-regular.ttf);
}
@font-face {
    font-family: OstSans;
    src: url(ostrich-sans/ostrich-black.ttf);
}

@font-face {
    font-family: Typ;
    src: url(ufonts.com_american-typewriter.ttf);
}

* {
  font-family: Typ;
}

.hover-color {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
} 
.hover-color:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

.gap{
  padding:0;
  margin:0;
}

.spacer {
  padding: 8px;
  margin:8px;
}

ul.nav-container{
  margin: auto;
}
.big-text {
  font-size: 150%;
  list-style:none;
}

h4{
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 2px;
  margin: 2% auto;
}
.ost-text {
  font-family: ostrich-black, OstSans, sans-serif;
  margin-bottom:-10px;
  letter-spacing: 1px;
}

#fit{
  text-transform:uppercase;
  height:100%;
  font-size: 510%;
  font-family: OstSans;
  padding-bottom:auto;
}


.fl-right{
  float:right;
}

.navbar {
  margin-bottom:0px;
}

.ember-view {
    color: white;
    margin: 0;
}

.ember-view:hover {
    text-decoration:none;
}

.ember-view.active {
    color: #deff26;
    text-decoration:none;
    border-color: #baf67f;
}

img.ember-view {
    border-color: #baf67f;
    border:2px;
    margin: 2px; 
}

img.ember-view:hover {
    border-color: #baf67f;
    border:2px;
    margin: 2px;
}

img.ember-view.active {
    border-color: #baf67f;
    border:2px;
    margin: 2px;
}

body {
  background: url(../img/asphalt-1.jpg) repeat ;
  background-size: cover;
}

a p {
  font-family:Typ;
}

.pad-bottom {
  padding-bottom: 10px;
  padding-top: 0;
  margin-top: 0;
}

.pad-top {
  padding-top: 2px;
  padding-right:10px;
}

.flag-padding li {
  padding: 0 10px;
  border: 2px;
}

.flag-padding li:first-child {
  padding: 0 0px;
}

.rotate {
/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
letter-spacing: 2px;
}

a.ember-view.list-group-item.active {
  background-color: black;
  border-color: #baf67f;
  color: #baf67f; /*#76ee00*/
}

a{
  color: #ffc14d; /*#FF6700*/
}

a:hover  {
  color: #ffff00; /*#DD0048*/
}

.list-group-item {
  background-color:#929292;
  color:#fff;
}

@media (max-width: 1100px) {
  .flag-padding{
    padding-left:10px;
  }
}

@media (min-width: 770px) and (max-width: 1100px) {
  .pad-bottom{
    padding-bottom: 0px ;
    vertical-align:middle;
  }
}

@media (max-width: 770px) {
  .nav>li {
      display:inline-block;
  }
  .big-text {
    text-align:center;
    height: 100%;
  }
  .listpadding {
      margin-left: 35px;
  }
  .pad-top {
      display:none;
  }
  .pad-bottom{
      padding-left:20px;
      margin: 0 auto;
      padding: 0 auto;
  } 
}

@media (max-width: 405px) {
  ul.nav {
    margin-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #navigation ul{
  padding-top: 12px;
  }
}

@media (min-width: 993px) {
  #navigation ul{
  padding-top: 25px;
  }
}

@media (min-width: 1200px) {
  #navigation ul{
  padding-top: 40px;
  }
}

.hoverWrapper {
  position: relative;
  width:40vh;
  height:40vh;
  display: inline-block;
/*  display:inline-block;
  overflow:hidden;*/
}

.imgDescription {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 160%;
  color: rgba(225, 225, 225, .7);
  text-align: center;
  visibility: hidden;
  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.hoverWrapper:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.bikepage{ 
  list-style-type: none;
}

.bikebinder {
  padding: 0;
}

.bikebinder>.ember-view {
  display:inline-block;
}

.bikebinder {
  display: inline-block;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
 /*  padding-right:15px;*/
}

@media (max-width: 768px) {
  .bikebinder>.ember-view   {
    width: 49%;
    height: 30vh;
  }
}

@media (min-width: 981px) {
  .bikebinder>.ember-view   {
    max-width: 24.5%;
    overflow:hidden;
  }
}

@media (min-width: 769px) and (max-width: 980px){
  .bikebinder>.ember-view {
    width: 32%;
    height: 30vh;
  }
}

.modelHeading {
  text-align: center;
}

.descPadding {
  text-align: center;
  padding-top: 20px;
}

.img-thumbnail {
  background-color: transparent;
  border: 0 solid white;
  padding: 0;
  border-radius: 0;
  max-width: auto;
/*  display: block;
*/}

.img-responsive .grid-fix {
  max-width: none;
}

.grid-fix {
/*  height: auto;*/
}

@media (max-height: 500px) {
  .grid-fix {
/*  height: auto;*/
  }
}

.centered {
  margin: 0 auto;
  display: block;
}

.hoverWrapper>img {
  height: auto;
  width: auto;
  overflow:hidden;
  -o-object-fit: cover;
  -o-object-position: center center;
  object-fit: cover;
  object-position: center center;
  display:inline;
}