@font-face {
    font-family: OstSans;
    src: url(ostrich-sans/ostrich-regular.ttf);
}

@font-face {
    font-family: Typ;
    src: url(ufonts.com_american-typewriter.ttf);
}

* {
  font-family: Typ;
}

.bigbackground {
	/*background-image: url(img/church2.jpg);*/
  background-color: transparent;
  border:none;
  padding-right:0;
}

.bigbackground::after {
	opacity: 0;
}

#dashboard ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#dashboard ul li { display: inline; }

#dashboard ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

#dashboard ul li a:hover
{
color: #fff;
background-color: #369;
}

.hover-color {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

.hover-color:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

/*.navbar-inverse .navbar-nav>li>a.active {
  background-color: red;
}*/

.gap{
  padding:0;
  margin:0;
}

.spacer {
  padding: 8px;
  margin:8px;
}

ul.nav-container{
  margin-left: 125px;
  margin-top: 55px;
}
.big-text {
  font-size: 150%;
  list-style:none;
  /*top:5px;*/
}

h4{
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 2px;
  margin: 2% auto;
}
.ost-text {
  font-family: OstSans;
}

#fit{
  text-transform:uppercase;
  height:100%;
  font-size: 510%;
  font-family: OstSans;
  padding-bottom:auto;
}


.fl-right{
  float:right;
}

.navbar {
  margin-bottom:0px;
}

.ember-view {
    color: white;
    margin: 0;
}

.ember-view:hover {
    text-decoration:none;
}

.ember-view.active {
    color: #deff26;
    text-decoration:none;
    border-color: #baf67f;
}

img.ember-view {
    border-color: #baf67f;
    border:2px;
    margin: 2px; 
}

img.ember-view:hover {
    border-color: #baf67f;
    border:2px;
    margin: 2px;
}

img.ember-view.active {
    border-color: #baf67f;
    border:2px;
    margin: 2px;
}

body {
  /*background-color: #2f4f4f;*/
  background: url(../img/asphalt-1.jpg) repeat ;
  background-size: cover;
}

a p {
  font-family:Typ;
}



.pad-bottom {
  padding-bottom: 10px;
  padding-top: 0;
  margin-top: 0;
}

.pad-top {
  padding-top: 2px;
  padding-right:10px;
}

.flag-padding li {
  padding: 0 10px;
  border: 2px;
}

.flag-padding li:first-child {
  padding: 0 0px;
}

.rotate {
/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

a.ember-view.list-group-item.active {
  background-color: black;
  border-color: #baf67f;
  color: #baf67f; /*#76ee00*/
}

a{
  color: #ffc14d; /*#FF6700*/
}

a:hover  {
  color: #ffff00; /*#DD0048*/
}

.list-group-item {
  background-color:#929292;
  color:#fff;
}

@media (max-width: 1100px) {
  #fit {
    margin-left:20px;
    font-size:510%;
  }
  .flag-padding{
    padding-left:10px;
  }
}

@media (min-width: 770px) && (max-width: 1100px) {
  .pad-bottom{
    padding-bottom: 0px ;
  }
}

@media (max-width: 769px) {
  .fl-right{
    float:none;
  }
  #fit{
    text-align:center;
  }
  .nav>li {
      display:inline-block;
  }
  .big-text {
    text-align:center;
  }

  #fit {
      margin-left:20px;
      font-size:510%;
  }
  .listpadding {
      margin-left: 35px;
  }
  .pad-top {
      display:none;
  }
  .pad-bottom{
      padding-left:20px;
      margin: 0 auto;
      padding: 0 auto;
  } 
}

@media (max-width: 500px) {
  #fit{
    font-size:420%;
      text-align:center;
  }
}

@media (max-width: 405px) {
  #fit{
      font-size:370%;
      text-align:center;
      padding-right:20px;
    min-width: 360px;
  }
  ul.nav {
    margin-right: 20px;
  }
}